.input {
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin: 0 8px;
    border: none;
    border-bottom: 4px solid #000;
    outline: none;
}

.input:focus {
    border-bottom: 4px solid #007bff;
    transition: border-bottom 0.2s;
}

.inputContainer {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 20px;
}

.espacio {
    width: 20px;
    height: 30px;
}

.input.hint {
    background-color: #4caf50;
    color: #000;
    font-weight: bold;
}